{{ template "base" .}}

{{ define "content" }}
<section class="sticky top-0 bg-opacity-50 flex justify-between items-center p-4 bg-white shadow z-10">
    <!-- Barra de búsqueda con pop-up de resultados -->
    <form class="container mx-auto flex space-x-2">
        <input class="p-2" type="datetime-local" id="departureTimeInput">
        <button id="searchButton" class="p-2 bg-blue-500 text-white rounded">Buscar Viaje</button>
    </form>
    <!-- Pop-up de resultados -->
    <div id="searchResultsPopup" class="hidden bg-white p-4 rounded shadow-lg">
        <!-- Botón para cerrar el pop-up de resultados -->
        <button id="closeSearchResultsPopup" class="text-gray-600 hover:text-gray-800">&times; Cerrar</button>
        <!-- Contenido de resultados se insertará aquí -->
    </div>
</section>

<!-- Sección Principal (Hero Section) -->
<section class="bg-cover bg-center h-96" style="background-image: url('path_to_image/background.jpg');">
    <div class="h-full bg-black bg-opacity-50 flex flex-col justify-center items-center">
        <h1 class="text-4xl font-bold">Carpool para la Universidad</h1>
        <h2 class="text-2xl mt-4">Encuentra y ofrece viajes de carpool fácil y seguro</h2>
        <div class="mt-8 space-x-4">
            <button id="btnOfrecerViaje" class="bg-blue-500 hover:bg-blue-600 py-2 px-6 rounded text-white">Ofrecer
                Viaje</button>
        </div>
    </div>
</section>

<!-- Sección de Viajes Destacados -->
<section class="container mx-auto mt-10 p-4">
    <h3 class="text-2xl font-bold mb-4">Viajes Destacados</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        {{ range .Trips }}

        <!-- Tarjeta -->
        <div class="bg-white p-6 rounded shadow-md">

            <img src="/static/driver_placeholder.png" alt="Foto del conductor"
                class="h-24 w-24 rounded-full mx-auto mb-4">
            <p class="font-medium text-center mb-2">Car Model: {{ .CarModel }}</p>
            <p class="text-center mb-2">License Plate: {{ .LicensePlate }}</p>
            <p class="text-center">Departure Time: {{ .Date }}</p>

            <a href="/join-trip/{{.TripID}}"
                class="bg-blue-600 hover:bg-blue-700 py-1 px-2 rounded text-white">Unirse</a>

        </div>
        {{ end }}
    </div>
</section>

<!-- Sección de Modales -->

<!-- Modal Ofrecer Viaje -->
<div id="ofrecerViajeModal"
    class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 hidden justify-center items-center">
    <div class="bg-white rounded-lg w-1/2">
        <div class="p-4">
            <h3 class="text-xl font-bold mb-4">Ofrecer Viaje</h3>
            <div>
                <button id="closeOfrecerModal" class="text-gray-600 hover:text-gray-800">&times;</button>
                <!-- Trip Creation Form -->
                <form action="/create-trip" method="post" novalidate class="needs-validation">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="car_model">Car Model:</label>
                            <input id="car_model" required class="form-control" type="text" name="car_model" required>
                        </div>
                        <div class="col-md-6">
                            <label for="plate">License Plate:</label>
                            <input id="plate" required class="form-control" type="text" name="plate" required>
                        </div>
                        <div class="col-md-6">
                            <label for="departure_time">Departure Time:</label>
                            <input id="departure_time" required class="form-control" type="datetime-local"
                                name="departure_time" required>
                        </div>
                        <!-- Campo para la calle -->
                        <div class="form-group">
                            <label for="street">Calle:</label>
                            <input type="text" id="street" name="street" required>
                        </div>

                        <!-- Campo para el número -->
                        <div class="form-group">
                            <label for="number">Número:</label>
                            <input type="text" id="number" name="number" required>
                        </div>

                        <!-- Campo para el código postal -->
                        <div class="form-group">
                            <label for="postalCode">Código Postal:</label>
                            <input type="text" id="postalCode" name="postalCode" required>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Create trip</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{ end }}

{{ define "js" }}
<!-- JavaScript para manejar la aparición de modales -->
<script>
    document.addEventListener('click', function (event) {
        if (event.target && event.target.id === 'closeSearchResultsPopup') {
            document.querySelector('#searchResultsPopup').classList.add('hidden');
        }
    });

    document.querySelector('#searchButton').addEventListener('click', function (event) {
        event.preventDefault();
        let departureTime = document.querySelector('#departureTimeInput').value;
        let resultsDiv = document.querySelector('#searchResultsPopup');

        fetch('/searchTrips', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ departureTime: departureTime })
        })
            .then(response => {
                if (!response.ok) throw new Error('Network response was not ok');
                return response.json();
            })
            .then(data => {
                console.log("Received data:", data);
                resultsDiv.innerHTML = `<button id="closeSearchResultsPopup" class="text-gray-600 hover:text-gray-800">&times; Cerrar</button>` +
                    data.map(trip => `
                <div class="bg-white p-6 rounded shadow-md mb-4">
                    <p class="font-medium text-center mb-2">Car Model: ${trip.carModel}</p>
                    <p class="text-center mb-2">License Plate: ${trip.licensePlate}</p>
                    <p class="text-center">Departure Time: ${trip.date} ${trip.time}</p>
                    <a href="/join-trip/${trip.tripID}"
                        class="bg-blue-600 hover:bg-blue-700 py-1 px-2 rounded text-white">Unirse</a>
                </div>
            `).join('');
                resultsDiv.classList.remove('hidden');
            })
            .catch(error => {
                console.error("Error:", error);
                resultsDiv.innerHTML = `<p>Error al buscar viajes</p>`;
                resultsDiv.classList.remove('hidden');
            });
    });

    // Evento para abrir el modal "Buscar Viaje"
    var btnBuscarViaje = document.querySelector('#btnBuscarViaje');
    if (btnBuscarViaje) {
        btnBuscarViaje.addEventListener('click', function () {
            var modalBuscar = document.querySelector('#buscarViajeModal');
            if (modalBuscar) {
                modalBuscar.style.display = 'flex';
            }
        });
    }

    // Evento para abrir el modal "Ofrecer Viaje"
    var btnOfrecerViaje = document.querySelector('#btnOfrecerViaje');
    if (btnOfrecerViaje) {
        btnOfrecerViaje.addEventListener('click', function () {
            var modalOfrecer = document.querySelector('#ofrecerViajeModal');
            if (modalOfrecer) {
                modalOfrecer.style.display = 'flex';
            }
        });
    }

    // Evento para cerrar el modal "Ofrecer Viaje" con el botón específico de cierre
    var closeOfrecerModal = document.querySelector('#closeOfrecerModal');
    if (closeOfrecerModal) {
        closeOfrecerModal.addEventListener('click', function () {
            var modalOfrecer = document.querySelector('#ofrecerViajeModal');
            if (modalOfrecer) {
                modalOfrecer.style.display = 'none';
            }
        });
    }

    // Evento para cerrar el modal "Ofrecer Viaje" al hacer clic fuera del contenido
    var modalOfrecer = document.querySelector('#ofrecerViajeModal');
    if (modalOfrecer) {
        modalOfrecer.addEventListener('click', function (event) {
            var content = modalOfrecer.querySelector('.bg-white.rounded-lg');
            if (event.target === modalOfrecer && !content.contains(event.target)) {
                modalOfrecer.style.display = 'none';
            }
        });
    }

    // Evento para cerrar el pop-up de resultados de búsqueda
    document.querySelector('#closeSearchResultsPopup').addEventListener('click', function () {
        document.querySelector('#searchResultsPopup').classList.add('hidden');
    });

</script>
{{ end }}