{{template "base" .}}

<h1>TecPool</h1>

<div class="container">

    <div class="row">
        <div class="col">
            {{if .IsLoggedIn}}

            <div class="row">
                <div class="col-md-3">
                    <a href="/create-trip"type="button" class="btn btn-primary">Create Trip</a> 
                </div>
            </div>

            <p>
            Hi {{index .StringMap "name"}}

            </p>

            {{else}}

            <p>
            It looks like you are not logged in.
            </p>

            <div class="row">
                <div class="col-md-1">
                    <a href="/login"type="submit" class="btn btn-primary">Login </a> 
                </div>

                <div class="col-md-1">
                    <a href="/register" type="button" class="btn btn-primary"> Register</a>
                </div>
            </div>
            {{end}}
        </div>
    </div>

    <p>
    We are trying to connect you to other students looking for a ride to the <br>
    Tecnologico de Monterrey.
    </p>
</div>


