{{ template "base". }}

{{ define "content" }}
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {{ range .UserTrips }}

    <!-- /ws/chat/tripid/userid-->
    <a href="/chat/{{.TripID}}/{{.UserID}}">
        <div class="bg-white p-2 rounded shadow-md mt-2 mb-2 flex items-center transition-transform hover:scale-105 hover:shadow-lg">
            <!-- Image container -->
            <div class="mr-4">
                <!-- la imagen viene de un api -->
                <img src="" alt="Car Image" class="w-12 h-12 rounded-full">
            </div>
            <!-- Text container -->
            <div>
                <p class="font-medium"> {{ .CarModel }} </p>
                <p class="font-medium"> {{ .LicensePlate }} </p>
                <p class="font-medium"> {{ .Date }} | {{ .Time }} </p>
            </div>
        </div>
    </a>

    {{end}}

</div>
{{end}}

{{ define "js" }}

{{end}}
